In [1]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.282724  0.748821 -0.208526 -0.837888
2013-01-02 -0.948049  0.444885 -0.416615  1.427133
2013-01-03 -0.419374  0.575492 -1.061018 -2.670108
2013-01-04  0.615893 -0.341360  2.076166  0.216458
2013-01-05 -0.428777  0.244752 -1.004060 -0.583625
2013-01-06  0.500756  1.464080  1.344620  0.941402

In [13]:
df.ix[:]

D:\coding\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                   A         B         C         D
2013-01-01 -0.282724  0.748821 -0.208526 -0.837888
2013-01-02 -0.948049  0.444885 -0.416615  1.427133
2013-01-03 -0.419374  0.575492 -1.061018 -2.670108
2013-01-04  0.615893 -0.341360  2.076166  0.216458
2013-01-05 -0.428777  0.244752 -1.004060 -0.583625
2013-01-06  0.500756  1.464080  1.344620  0.941402

In [15]:
df.loc[:,'A']

2013-01-01   -0.282724
2013-01-02   -0.948049
2013-01-03   -0.419374
2013-01-04    0.615893
2013-01-05   -0.428777
2013-01-06    0.500756
Freq: D, Name: A, dtype: float64

层次索引